@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css");

:root {
	line-height: 1.5;
	background-color: #f6f8f4;
	font-family:
		"Inter", "Outfit", "Work Sans", "Roboto Mono", sans-serif, system-ui;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

/* ---THESE ARE MY OWN PREFERENCES.--- */
p {
	max-inline-size: 66ch;
}

/* Removes the arrows inside input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

menu,
ol,
ul {
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 3rem;
	gap: 2rem;
}

main#content {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 2rem;
}

div.dashboard {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

div.title-box,
div.cities-box {
	padding: 2rem;
	border: 2px solid gray;
	border-radius: 1rem;
}

div.title-box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	font-weight: 500;
}

div.cities-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.25rem;
}

div.pre-city {
	max-height: min-content;
	flex: 1;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	border-radius: 0.5rem;
	background-color: antiquewhite;
	padding: 1rem;
	gap: 0.5rem;
	font-size: 1rem;
	font-weight: 500;
}

p.pre-city-item {
	padding: 1rem;
	border: 1px solid gray;
	border-radius: 0.5rem;
}

p.pre-city-item:hover {
	cursor: pointer;
	background-color: rgb(202, 186, 164);
}

div.weather-box {
	border: 2px solid gray;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
}

div.weather-bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

div.search-box {
	padding: 2rem;
}

div.basic-info {
	max-width: 32rem;
	display: flex;
	flex-direction: column;
	padding: 3rem;
	gap: 2rem;
	font-size: 1.5rem;
}

p.location {
	font-size: 3rem;
	font-weight: 500;
}

div.condition {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
}

img.icon {
	width: 10rem;
	height: 10rem;
}

div.temperature {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 3rem;
	font-weight: 500;
	border: 1px solid gray;
	border-radius: 0.5rem;
	padding: 1rem;
	gap: 1rem;
	background-color: azure;
}

div.feels-like {
	font-size: 1.5rem;
}

p.feels-like-text {
	font-size: 1rem;
}

p.aqi {
	font-size: 1.5rem;
	font-weight: 500;
}

div.basic-info-bottom {
	font-size: 1rem;
}

div.weather-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 2rem;
}

div.future-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}

div.future-grid > p {
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 0.5rem;
}

input,
textarea,
select {
	border: 2px solid gray;
	border-radius: 8px;
	padding: 8px;
	flex: 1;
	color: darkslategray;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border: 2px solid darkslategray;
}

button {
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
}

button:hover {
	cursor: pointer;
}

/* LOADING ANIMATION FROM UIVERSE */
div.loading {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	gap: 1rem;
}

.pl {
	width: 6em;
	height: 6em;
}

.pl__ring {
	animation: ringA 2s linear infinite;
}

.pl__ring--a {
	stroke: #f42f25;
}

.pl__ring--b {
	animation-name: ringB;
	stroke: #f49725;
}

.pl__ring--c {
	animation-name: ringC;
	stroke: #255ff4;
}

.pl__ring--d {
	animation-name: ringD;
	stroke: #f42582;
}

/* Animations */
@keyframes ringA {
	from,
	4% {
		stroke-dasharray: 0 660;
		stroke-width: 20;
		stroke-dashoffset: -330;
	}

	12% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -335;
	}

	32% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -595;
	}

	40%,
	54% {
		stroke-dasharray: 0 660;
		stroke-width: 20;
		stroke-dashoffset: -660;
	}

	62% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -665;
	}

	82% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -925;
	}

	90%,
	to {
		stroke-dasharray: 0 660;
		stroke-width: 20;
		stroke-dashoffset: -990;
	}
}

@keyframes ringB {
	from,
	12% {
		stroke-dasharray: 0 220;
		stroke-width: 20;
		stroke-dashoffset: -110;
	}

	20% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -115;
	}

	40% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -195;
	}

	48%,
	62% {
		stroke-dasharray: 0 220;
		stroke-width: 20;
		stroke-dashoffset: -220;
	}

	70% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -225;
	}

	90% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -305;
	}

	98%,
	to {
		stroke-dasharray: 0 220;
		stroke-width: 20;
		stroke-dashoffset: -330;
	}
}

@keyframes ringC {
	from {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: 0;
	}

	8% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -5;
	}

	28% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -175;
	}

	36%,
	58% {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -220;
	}

	66% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -225;
	}

	86% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -395;
	}

	94%,
	to {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -440;
	}
}

@keyframes ringD {
	from,
	8% {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: 0;
	}

	16% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -5;
	}

	36% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -175;
	}

	44%,
	50% {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -220;
	}

	58% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -225;
	}

	78% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -395;
	}

	86%,
	to {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -440;
	}
}

footer {
	align-self: center;
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 10px;
	padding: 16px;
	margin: 0 16px 16px 16px;
}
